@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist);
  --color-primary: #16a34a;
  --color-primary-hover: #15803d;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
